.dnnEditDocs {}

.dnnEditDocs .control-group-start {
    margin-top:1em;
}

.dnnEditDocs .control-group-end {
    margin-bottom:.5em;
}

.dnnEditDocs .dnnFormItem input[type=checkbox], 
.dnnTabsModule .dnnFormItem input[type=radio] { width:auto }

.dnnEditDocs .dnnRight { display:block; width:68% }

.dnnEditDocs .urlControl br { display:block }

.dnnEditDocs .urlControl > label 
{ 
	display:block;
	float:none;
	text-align:left
}

.dnnEditDocs .dnnModuleAuditControl,
.dnnEditDocs .dnnUrlTrackingControl {
    display:inline-block;
    width:45%;
    max-width:445px;
    margin-bottom:18px;
    padding:1em;
    background-color:#f0f0f0
}

.dnnEditDocs .dnnModuleAuditControl p {
    margin-bottom:0
}

.dnnDocSettings .comboSortFields, 
.dnnDocSettings .comboSortOrderDirection { width:290px }

.dnnDocSettings .comboSortFields { margin-bottom:1em }

.dnnDocSettings .comboSortOrderDirection { float:left;margin-right:1em }


