.DNN_Documents table td
{
  padding: 4px;
  white-space:nowrap
}

.SizeCell, .ClicksCell
{
	text-align:right;
}

.TitleCell, .DescriptionCell
{
	width:100%;
	white-space:wrap
}

.dnnEditDocs{width:100%;margin:2em auto;}
	.dnnEditDocs .dnnFormItem input[type=checkbox], .dnnTabsModule .dnnFormItem input[type=radio]{width:auto;}
	.dnnEditDocs .dnnRight{display:block;width: 68%;}
	.dnnEditDocs .urlControl br{display:block;}
	.dnnEditDocs .urlControl > label{display:block;float: none;text-align:left;}
	
.DNN_Documents ._nonpublished { background-color:#ffc }
