.ViewDocuments td
{
  padding: 4px;
  white-space:nowrap
}

.ViewDocuments .SizeCell, 
.ViewDocuments .ClicksCell
{
	text-align:right;
}

.ViewDocuments .TitleCell, 
.ViewDocuments .DescriptionCell
{
	width:100%;
	white-space:wrap
}

.ViewDocuments ._nonpublished { background-color:#ffc }

.ViewDocuments .dnnGrid { margin-bottom:0 }

/* DnnDateTimePicker style fix */

.dnnEditDocs .RadPicker_Default 
{ 	
	/* override inline style */
	height:33px!important;
}

.dnnEditDocs .RadPicker_Default .riTextBox
{ 
	height:33px;
}

/* end fix */

.dnnEditDocs{width:100%;margin:2em auto;}
.dnnEditDocs .dnnFormItem input[type=checkbox], .dnnTabsModule .dnnFormItem input[type=radio]{width:auto;}
.dnnEditDocs .dnnRight{display:block;width: 68%;}
.dnnEditDocs .urlControl br{display:block;}
.dnnEditDocs .urlControl > label{display:block;float: none;text-align:left;}