.ViewDocuments td
{
	padding:4px;
	vertical-align:top;
 	white-space:nowrap
}

.ViewDocuments .SizeCell, 
.ViewDocuments .ClicksCell
{
	text-align:right;
}

.ViewDocuments .DescriptionCell,
.ViewDocuments .TitleCell { white-space:normal }

.ViewDocuments .IconCell,
.ViewDocuments .EditCell { text-align:center }

.ViewDocuments .ClicksHeader, 
.ViewDocuments .SizeHeader,  
.ViewDocuments .DownloadLinkHeader,
.ViewDocuments .ModifiedDateHeader,
.ViewDocuments .ModifiedByHeader,
.ViewDocuments .CreatedDateHeader,
.ViewDocuments .CreatedByHeader,
.ViewDocuments .PublishedOnDateHeader,
.ViewDocuments .OwnerHeader,
.ViewDocuments .CategoryHeader,
.ViewDocuments .EditHeader,
.ViewDocuments .IconHeader { width:1px }

.ViewDocuments ._nonpublished { background-color:#ffc!important }
.ViewDocuments ._nonpublished:hover { background-color:#fefe97!important }
    
/* dnnGridHeader fix */
.ViewDocuments .dnnGridHeader th {
    padding: 6px 0 6px 12px;
    border-bottom: 1px solid #c9c9c9;
    border-right: 1px solid #c9c9c9;
    background: #f0f2f1;
    background: -moz-linear-gradient(top, #fff 0%, #f0f2f1 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fff), color-stop(100%,#f0f2f1)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #fff 0%,#f0f2f1 100%); /* Chrome10+,Safari5.1+ */
    background: linear-gradient(top, #fff 0%,#f0f2f1 100%); /* W3C */
}
