.ViewDocuments td
{
	padding:4px;
	vertical-align:top;
 	white-space:nowrap
}

.ViewDocuments .SizeCell, 
.ViewDocuments .ClicksCell
{
	text-align:right;
}

.ViewDocuments .DescriptionCell,
.ViewDocuments .TitleCell { white-space:normal }

.ViewDocuments ._nonpublished { background-color:#ffc }

.ViewDocuments .dnnGrid { margin-bottom:0 }
