<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotNetNuke.Core" version="8.0.4.226" targetFramework="net45" />
  <package id="DotNetNuke.Web" version="8.0.4.226" targetFramework="net45" />
  <package id="DotNetNuke.Web.Deprecated" version="8.0.4.226" targetFramework="net45" />
  <package id="DotNetNuke.Web.Mvc" version="8.0.4.226" targetFramework="net45" />
  <package id="Microsoft.AspNet.Mvc" version="5.1.1" targetFramework="net45" />
  <package id="Microsoft.AspNet.Razor" version="3.1.1" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.1.1" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.1.1" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebPages" version="3.1.1" targetFramework="net45" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="4.5.11" targetFramework="net45" />
  <package id="NGettext" version="0.6.3" targetFramework="net45" />
  <package id="R7.Dnn.Extensions" version="0.12.0" targetFramework="net45" />
  <package id="YamlDotNet" version="4.2.1" targetFramework="net45" />
</packages>