.r7-docs-edit .control-group-start {
    margin-top:1em
}

.r7-docs-edit .control-group-end {
    margin-bottom:.5em
}

.r7-docs-edit .dnnFormItem input[type=checkbox],
.dnnTabsModule .dnnFormItem input[type=radio] {
    width:auto
}

.r7-docs-edit .dnnRight {
    display:block;
    width:68%
}

.r7-docs-edit .urlControl br {
    display:block
}

.r7-docs-edit .urlControl > label {
	display:block;
	float:none;
	text-align:left
}

.r7-docs-edit .dnnModuleAuditControl,
.r7-docs-edit .dnnUrlTrackingControl {
    display:inline-block;
    width:45%;
    max-width:445px;
    margin-bottom:18px;
    padding:1em;
    background-color:#f0f0f0
}

.r7-docs-edit .dnnModuleAuditControl p {
    margin-bottom:0
}

.r7-docs-edit .dnnFormItem .wide-textbox {
    width:97%;
    max-width:inherit;
    margin-top:8px
}

/* #27 */
.r7-docs-edit a[id$='_btnChangeOwner'] {
    display:none
}

.r7-docs-settings .ddlSortFields,
.r7-docs-settings .ddlSortOrderDirection {
    width:290px
}

.r7-docs-settings .ddlSortFields {
    margin-bottom:1em
}

.r7-docs-settings .ddlSortOrderDirection {
    float:left;margin-right:1em
}
