.r7-docs td {
	padding:4px;
	vertical-align:top;
 	white-space:nowrap
}

.r7-docs .size-cell,
.r7-docs .clicks-cell {
	text-align:right
}

.r7-docs .description-cell,
.r7-docs .title-cell {
	white-space:normal
}

.r7-docs .icon-cell,
.r7-docs .signature-link-cell,
.r7-docs .edit-cell {
	text-align:center
}

.r7-docs .edit-cell img {
	vertical-align:baseline
}

.r7-docs .edit-cell input[type='checkbox'] {
	margin-left:.3rem
}

.r7-docs .clicks-header,
.r7-docs .size-header,
.r7-docs .download-link-header,
.r7-docs .modifieddate-header,
.r7-docs .modifiedby-header,
.r7-docs .createddate-header,
.r7-docs .createdby-header,
.r7-docs .publishedondate-header,
.r7-docs .owner-header,
.r7-docs .category-header,
.r7-docs .edit-header,
.r7-docs .icon-header,
.r7-docs .signature-link-header {
	width:1px
}

.r7-docs .edit-header {
	text-align:right
}

.r7-docs .document-unpublished {
	background-color:#ffc!important
}

.r7-docs .document-unpublished:hover {
	background-color:#fefe97!important
}

.r7-docs .document-featured {
	font-weight:bold
}
